flax==0.8.4
gradio==4.33.0
gradio_client==0.17.0
huggingface-hub==0.23.3
jax==0.4.28
jaxlib==0.4.28
matplotlib==3.9.0
mlx==0.14.1
numpy==1.26.2
onnx==1.16.1
onnxruntime==1.18.0
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.82
optax==0.2.2
orbax-checkpoint==0.5.15
pandas==2.2.2
pillow==10.3.0
pycocotools @ git+https://github.com/ppwwyyxx/cocoapi.git@f2417e117835fb0eca6f4e36b681c36725201e6b#subdirectory=PythonAPI
requests==2.32.3
ruff==0.4.8
safetensors==0.4.3
scipy==1.13.1
seaborn==0.13.2
setuptools==70.0.0
shellingham==1.5.4
supervision==0.20.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tokenizers==0.19.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.41.2
wheel==0.43.0
